* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.body {
  margin-bottom: 0;
  background: linear-gradient(
    90deg,
    rgb(250, 251, 252) 0%,
    rgb(0, 125, 250) 100%
  );
}

header {
  background: white;
  margin-top: 10px;
}

header h1 {
  text-align: center;
  width: 100%;
}

.footer {
  text-align: center;
  margin-bottom: 0;
}

.footericon {
  margin-right: 5px;
}

.nav {
  margin: 10px;
  width: 100%;
}

.aboutme {
  margin: 10px;
}

.bio {
  height: 100%;
}

.biopic {
  height: 25%;
  width: 33%;
  margin-bottom: 10px;
}

.contact {
  margin: 10px;
}

.portfolio {
  margin: 10px;
}

.resume {
  margin: 10px;
}

.error-message {
  color: red;
  margin-left: 10px;
}