* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#root {
  background: linear-gradient(
    90deg,
    rgb(12, 44, 255) 0%,
    rgb(0, 125, 250) 100%
  );
}

body {
  background-color: whitesmoke;
}

.bucket-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 800px;
  min-height: 600px;
  background: black;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 32px;
  height: 100vh;
  overflow: scroll;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

h3 {
  margin: auto;
  color: rgb(66, 171, 231);
  font-size: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
